img{
    width: 400px;
    height: auto;
}

.hero{
    margin-top: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
}


a {
    margin: 20px;
    font-size: 30px;
}




@media screen and (max-width: 1200px) {
    .hero {
     flex-direction: column-reverse;
    }
  }

  .hero{
    margin-top: 10%;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  @media screen and (max-width: 1200px) {
    a {
    margin-left: 20%;
    }
  }

  

